<%- include ('partials/header') %>
<h1 ><i class="mt-2 d-flex justify-content-center">Balconi Bakchodi</i></h1>
<div class="container w-75">
    <div class="card bg-dark text-light my-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/images/background.jpg" class="card-img rounded-0 pic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Founded</h5>
              <p class="card-text">This group was not intensnally form.It all happen on the first day of the reporting when every one was gather in coridor("Bakconi") and every one was giving their introduction to one another and after that one group was formed named "IT  nibbas" and that was the moment when we all recent member was unoffically become a family.</p>
              <p class="card-text"><small class="text-muted">24 June,2019</small></p>
            </div>
          </div>
        </div>
      </div>
      <!---------------- next -------------------->
      <div class="card bg-dark text-light my-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Becoming Family</h5>
              <p class="card-text">It all happen when one guy name Utpal Want to become baba in that previous group "IT Nibbas" then some of our BB member was sitting together that time and think to take him down and after taking him down at evening time all us discussing about that incident and cracking jokes and pulling each others legs then one of the current BB member told to form our own personal group,this was that time when we all realise that ye he is telling right,we need one personal group to unite ourselfs and become one Family and then the formation of Ledgendary group take take with 18 members <i>" Balconi Bakchodi "</i> : BB.</p>
              <p class="card-text"><small class="text-muted">26 June,2019</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="/images/background.jpg" class="card-img rounded-0 pic">
          </div>
        </div>
      </div>
      <!---------------- next -------------------->
      <div class="card bg-dark text-light my-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/images/background.jpg" class="card-img rounded-0 pic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!---------------- next -------------------->
      <div class="card bg-dark text-light my-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="/images/background.jpg" class="card-img rounded-0 pic">
          </div>
        </div>
      </div>
      <!---------------- next -------------------->
          <div class="card bg-dark text-light my-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/images/background.jpg" class="card-img rounded-0 pic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!---------------- next -------------------->
      <div class="card bg-dark text-light my-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="/images/background.jpg" class="card-img rounded-0 pic">
          </div>
        </div>
      </div>
      <!---------------- next -------------------->
</div>
<%- include ('partials/footer') %>