<div class="navbar navbar-expand-lg navbar-dark bg-warning mt-3">
    <div class="container">
        <div class="d-none d-sm-none d-md-block">
            <div href="#" class="h4 text-primary">
                <svg class="bi bi-house-fill mb-2" width="1.6em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/>
            </svg>Address</div>
            <h5 class="mt-4">Badmass America</h5>
            <h6 class="font-weight-normal">Kp-7, KIIT, Bhubaneshwar, Orissa</h6>
            <h6 class="font-weight-normal">Tel: + 91 22 35637000 / 7001</h6>
            <h6 class="font-weight-normal">Email: BadmassAmerica@kiit.ac.in</h6>
            <h6 class="font-weight-normal">Website: www.BD@kiit.ac.in</h6>
        </div>

        <div class="line d-none d-sm-none d-md-block"></div>

        <div class="ii d-none d-sm-none d-md-none d-lg-block">
        <div class="h4 text-primary mt-3">Links</div>
        <table class="jj  mt-3">
            <tr>
                <td><a href="" class="text-dark">All Categories</a></td>
                <td><a href="" class="text-dark"><span class="badge badge-pill badge-danger">hot!</span></a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Amateur</a></td>
                <td><a href="" class="text-dark">Ebony</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Mature</a></td>
                <td><a href="" class="text-dark">teen</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Lesbian</a></td>
                <td><a href="" class="text-dark">Anal</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Romantic</a></td>
                <td><a href="" class="text-dark">MILF</a></td>
            </tr>
            <tr>
                <td><a href="" class="text-dark">Indian</a></td>
                <td><a href="" class="text-dark">Desi</a></td>
            </tr>
        </table>
        </div>

        <div class="line d-none d-sm-none d-md-none d-lg-block"></div>

        <div>
            <h5>For any queries mail to</h5>
            <a href="#" class="text-decoration-none">BadmassAmerica@kiit.ac.in</a>
            <hr class="w-100">
            <img src="../images/logo4.png" height="100px"><br>
            <a href="#" class="h4 text-decoration-none">&#xa9;BadmassAmerica</a>
        </div>
 </div>
</body>
</html>