<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <h1>my dog name is Rusty</h1>
    <h2>my Dog loves <%= varFood.toUpperCase() %> to eat</h2>
    <% if(varFood.toLowerCase() == "pedigri"){ %>
        <p>Good choice! He eat 3times Daily</p>
    <% }else{ %>
        <p>Bad choice!</p>
    <% } %>
</body>
</html>